
{% extends "index.html" %}

{% load i18n %}

{% block context %}
      
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% translate 'ID' %}</th>
      <th>{% translate 'Username' %}</th>
      <th>{% translate 'Full name' %}</th>
      <th>{% translate 'Creation date' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if users %}
    {% for user in users %}    
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}{{ user.last_name }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <a href="/users/{{ user.id }}/update/">{% translate 'Сhange' %}</a>
          <br>
          <a href="/users/{{ user.id }}/delete/">{% translate 'Delete' %}</a>
        </td>
      </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock %}
