
{% extends "base.html" %}

{% load i18n %}

{% block context %}

<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="IzVKYCdCWWh2bjEOoiCAZfGpBPggextwNJxCI1AwMplwL7dGfqArkNAp3uwymAtU">
  <div class="mb-3">
    <label class="form-label" for="id_first_name">{% translate 'Name' %}</label>
    <input type="text" name="first_name" maxlength="150" class="form-control" placeholder="{% translate 'Name' %}" required id="id_first_name">
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_last_name">{% translate 'Surname' %}</label>
    <input type="text" name="last_name" maxlength="150" class="form-control" placeholder="{% translate 'Surname' %}" required id="id_last_name">
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_username">{% translate 'Username' %}</label>
    <input type="text" name="username" maxlength="150" autofocus class="form-control" placeholder="{% translate 'Username' %}" required aria-describedby="id_username_helptext" id="id_username">
    <div class="form-text">{% translate 'Required field. No more than 150 characters. Letters, numbers and symbols only @/./+/-/_.' %}</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_password1">{% translate 'Password' %}</label>
    <input type="password" name="password1" autocomplete="new-password" class="form-control" placeholder="{% translate 'Password' %}" aria-describedby="id_password1_helptext" id="id_password1">
    <div class="form-text">
      <ul>
        <li>{% translate 'Your password must be at least 3 characters long.' %}</li>
      </ul>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_password2">{% translate 'Password confirmation' %}</label>
    <input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="{% translate 'Password confirmation' %}" aria-describedby="id_password2_helptext" id="id_password2">
    <div class="form-text">{% translate 'To confirm, please enter the password again.' %}</div>
  </div>
    <input class="btn btn-primary" type="submit" value="{% translate 'Register' %}">
</form>

{% endblock %}
