
{% extends "base.html" %}


{% block context %}

<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="eQhqIZzwsLKlliuBgw1GoNVUPyoh6dFgj0TisoWqieOPV63t7EZxJlPUhdEzegFE">
  <div class="mb-3"><label class="form-label" for="id_username">User name</label><input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Username" required id="id_username"></div><div class="mb-3"><label class="form-label" for="id_password">Password</label><input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Password" required id="id_password"></div>
    <input class="btn btn-primary" type="submit" value="Input">
</form>

{% endblock %}
