
{% extends "index.html" %}

{% load i18n %}

{% block context %}

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  
  {% if form.errors %}
    <ul class="list-unstyled text-danger">
      <li>{% translate 'Please enter a correct Username and password. Note that both fields may be case-sensitive.' %}</li>
    </ul>
  {% endif %}

  <div class="mb-3">
  <label class="form-label" for="{{ form.username.id_for_label }}"> {% translate form.username.label %} </label>
    {{ form.username }}
  <label class="form-label" for="{{ form.password.id_for_label }}"> {% translate form.password.label %} </label>
    {{ form.password }}  
  </div>

  <input class="btn btn-primary" type="submit" value="{% translate 'Login' %}">
</form>

{% endblock %}