{% extends "index.html" %}

{% load i18n %}

{% block context %}

<a class="btn btn-primary mb-3" href="/tasks/create/" role="button">{% translate 'Create a task' %}</a>

<div class="card mb-3">
    <div class="card-body bg-light">
      <form class="form-inline center" method="get">
        <div class="mb-3">
            <label class="form-label" for="id_status">{% translate 'Statuses' %}</label>
            <select name="status" class="form-select mr-3 ml-2 {{ valid }}" id="id_status">
                {% if stat.1 %}
                <option value="{{ stat.0 }}" selected>{{ stat.1 }}</option>
                <option value="">---------</option>
                {% for status in statuses %}
                {% if status != stat.1 %}
                <option value="{{ status.id }}">{{ status }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                <option value="" selected>---------</option>
                {% for status in statuses %}
                <option value="{{ status.id }}">{{ status }}</option>                
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_executor">{% translate 'Executors' %}</label>
            <select name="executor" class="form-select mr-3 ml-2 {{ valid }}" id="id_executor">
                {% if exec.1 %}
                <option value="{{ exec.0 }}" selected>{{ exec.1 }}</option>
                <option value="">---------</option>
                {% for executor in executors %}
                {% if executor != exec.1 %}
                <option value="{{ executor.id }}">{{ executor }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                <option value="" selected>---------</option>
                {% for executor in executors %}
                <option value="{{ executor.id }}">{{ executor }}</option>                
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_label">{% translate 'Labels' %}</label>
            <select name="label" class="form-select mr-3 ml-2 {{ valid }}" id="id_label">
                {% if lab.1 %}
                <option value="{{ lab.0 }}" selected>{{ lab.1 }}</option>
                <option value="">---------</option>
                {% for label in labels %}
                {% if label != lab.1 %}
                <option value="{{ label.id }}">{{ label }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                <option value="" selected>---------</option>
                {% for label in labels %}
                <option value="{{ label.id }}">{{ label }}</option>                
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="mb-3">
        <div class="form-check">
            {% if checked %}
            <input type="checkbox" name="self_tasks" class="form-check-input mr-3 {{ valid }}" checked id="id_self_tasks">
            {% else %}
            <input type="checkbox" name="self_tasks" class="form-check-input mr-3 {{ valid }}" id="id_self_tasks">
            {% endif %}
            {{ self_tasks }}
            <label class="form-check-label" for="id_self_tasks">{% translate 'Only your tasks' %}</label>   
        </div>
        </div>
        <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
      </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Status' %}</th>
        <th>{% translate 'Author' %}</th>
        <th>{% translate 'Executor' %}</th>
        <th>{% translate 'Creation date' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if tasks %}
      {% for task in tasks %}    
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.executor }}</td>
          <td>{{ task.created_at }}</td>
          <td>
            <a href="/tasks/{{ task.id }}/update/">{% translate 'Сhange' %}</a>
            <br>
            <a href="/tasks/{{ task.id }}/delete/">{% translate 'Delete' %}</a>
          </td>
        </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  
{% endblock %}